/* По умолчанию удаляем все отступы и поля для все элементов
  и устанавливаем для свойства размер окна */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* явно пределяем размер шрифта */
html {
    font-size: 16px;
}
/* Шрифт, цвет фона */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(130, 124, 150);
    color: #ffffff;
}


/* помещаем контейнер в центр по горизонтали */
.container {
    width: 500px;
    margin: 20px auto;
    user-select: none; /* определяет может ли пользователь выбрать текст*/
    overflow-x: hidden; /*Содержимое элемента, которое не помещается в его размеры по оси X, обрезается.*/
    position: relative;
}
.header {
    background-color: rgb(57, 63, 119);
    text-align: center;
    padding: 1.75rem;
}
/* Единица rem задаёт размер относительно размера шрифта элемента <html> */
.header h1 {
    font-size: 2.25rem;
}


.date {
    background-color: #222;
    text-align: right;
    font-size: 0.75rem;
    padding: 0.75rem 2rem 0.75rem 0;
}


ul.currencies {
    height: calc(100vh - 40px - 100px - 40px - 58px);/*высота равная 100% области просмотра минус (.container margin 20px * 2 = 40)верхнее и нижнее поле,минус высота заголовка(100рх),высота даты которая составляет 40рх минус высота кнопки 58 рх
    */
    background-color: #222;
    padding: 0 1.5rem 1rem 1.5rem;
    overflow-y: auto; /*поведение блока при переполнении высоте-Полоса прокрутки*/
}
ul.currencies li {
    background-color: #2d2d37;
    border-radius: 5px;
    list-style: none;
    padding: 1rem 1rem 0.75rem 1rem;
    margin-bottom: 1rem;
    position: relative; /*сдвигает элемент относительно его обычного положения.*/
}
ul.currencies li .close {
    position: absolute; /* позиционирование элемента относительно окна браузера*/
    top: 0; /*частично определяет вертикальную позицию позиционируемого элемента*/
    right: 0;
    padding: 0 0.5rem;
    font-size: 1.5rem;
    color: #666;
    cursor: pointer;
}
ul.currencies li .close:hover { 
    color: #fff; /*меняет цвет при наведении мышки*/
}
/*стиль полосы прокрутки*/
ul.currencies::-webkit-scrollbar{
    width: 10px;
}
ul.currencies::-webkit-scrollbar-thumb{
    background-color: #2d2d2d;
    border-bottom: 1px solid #222;
}
/* удаляем поле последнего элемента margin-bottom: 1rem; */
ul.currencies li:last-child {
    margin-bottom: 0;
}
ul.currencies li.base-currency {
    background-color: rgb(64, 45, 238);
}


.flag {
    width: 60px;
    height: 40px;
    border: 1px solid #fff;
    vertical-align: top;  /* Выравнивает верхний край элемента и его потомков с верхним краем всей строки*/
}


/* элемент, который продолжает находиться в строке 
(inline), но при этом может иметь важные свойства блока */
.info {
    display: inline-block;
    width: 78%;
}
.info .input span {
    font-size: 1.5rem;
    display: inline-block;
    width: 4rem;
    text-align: center;
}
/*transparent - возвращаем прозрачный фон блоку, если ранее он уже был изменён*/
.info .input input {
    font-size: 1.5rem;   
    width: 78%;   /*ширину элемента */
    background-color: transparent; 
    border: 2px solid #fff;   /*устанавливаем границы элемента */
    border-radius: 5px;   /*скругляем */
    color: #ffffff;
    padding: 0.3rem;   /*делаем внутренние отступы */
    margin-bottom: 0.75rem;   /*внешний отступ внизу элемента */
}
.info .currency-name {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-left: 4rem; /*устанавливает внешний отступ слева от элемента*/
}
.info .base-currency-rate {
    font-size: 0.8rem;
    margin-left: 4rem;
}


ul.add-currency-list {
    position: absolute;
    bottom: 54px;
    left: 105%;
    background-color: #ffffff;
    color: #333;
    width: 100%;
    height: calc(100vh - 40px - 100px - 55px);
    overflow-y: auto;
    transition: all 0.25s;   /*анимация ко всему объекту 0,25сек*/
}
ul.add-currency-list li {
    list-style: none;
    padding: 0.75rem;
    border-bottom: 1px solid #ddd; /*нижняя граница элемента border*/
}
ul.add-currency-list li.disabled {
    opacity: 0.7;  /*не прозрачность*/
    cursor: not-allowed; /*курсор-запрещено*/
}
ul.add-currency-list li .flag{
    width: 3rem;
    height: 2rem;
    vertical-align: middle; /*Выравнивает изображение по центру относительно текстовой базовой линии*/
}
/*текстовый блок*/
ul.add-currency-list li span{
    margin-left: 1rem;
    font-weight: bold;
}


.add-currency-btn {
    background-color: #00b386;  /*устанавливаем цвет фона элемента */
    color: #fffcfc;
    padding: 1rem;   /*делаем внутренние отступы */
    font-size: 1.2rem;  /*устанавливаем размер текста */
    font-weight: bold; /* жирное начертание*/
    border: none; /*устанавливает положение нижнего края содержимого элемента без учёта толщины рамок и отступов*/
    border-top: 3px solid #222; /*установливает толщину, стиль и цвет верхней границы элемента*/
    outline: none; /* не отображает стиль контура*/
    width: 100%;
    cursor: pointer;  /*это появление курсора при наведении на элемент*/
    transition: background-color 0.25s; /* анимирует исходное значение CSS-свойства на новое значение с течением времени*/
    position: relative;
}
.add-currency-btn i {
    position: absolute;
    top: 0.75rem;
    left: 30%;
    font-size: 2rem;
    opacity: 0;
    transition: all 0.25s;
}

/*изменяем цвет фона кнопки "добавить валюту" при наведении*/
.add-currency-btn.open {
    background-color: coral;
}
.add-currency-btn.open i {
    opacity: 1;
    left: 1.25rem;
}
/*отображение для блокировки*/
.add-currency-btn.open + ul.add-currency-list {
    left: 0;
}
.add-currency-btn.open + ul.add-currency-list li:hover {
    background-color: #ddd;
}


/*для экранов шириной 600рх и меньше*/
@media (max-width: 600px) {
    html { font-size: 14px; }
    .container { width: 100%; margin: 0 auto; }
    ul.currencies { height: calc(100vh - 83px - 34px - 51px); }
    .header h1 { font-size: 2rem; }
    .flag { width: 3rem; height: 2rem; }
    .info .input span { font-size: 1.25rem; width: 3.5rem; }
    .info .input input { font-size: 1.25rem; width: 76%;}
    .info .currency-name { margin-left: 3.5rem; }
    .info .base-currency-rate { margin-left: 3.5rem; }
    ul.add-currency-list { bottom: 48px; height: calc(100vh - 80px - 51px); }
    .add-currency-btn i { left: 25%; top:0.65rem; }
  }
}